@media (max-width: 1075px){
    .price__inner{
        margin-left: 20px;
    }
    .history__list{
        flex-wrap: wrap;
    }
    .history__img + .history__img{
        margin-left: 20px;
    }
    .history__img{
        margin-bottom: 20px;
    }
}
@media (max-width: 755px){
    .history__img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .price__inner{
        display: block;
        text-align: center;
        width: 100%;
    }
   .price__items-right{
       margin-left: 70px;
       width: 100%;
        margin-right: 100px;
   }
}